{% extends 'galeria/base.html' %}
{% load static %}
{% block content %}
<div class="pagina-inicial">
    {% include 'galeria/partials/_header.html' %}
    <main class="principal">
        {% include 'galeria/partials/_menu-lateral.html' %}
        <section class="conteudo">
            <main>
                <section class="content-wraper" id="quem-somos">
                    <h2 class="title-leo">Quem Somos:</h2>
                    <p class="text-leo">
                        "A Casa do Leo" é um projeto solidário que nasceu da compaixão e da empatia. Fundado em honra à
                        memória do querido Leo, o filho de nosso professor, o projeto é um testemunho do poder do amor e
                        da solidariedade. Somos um grupo de voluntários comprometidos em fazer a diferença na vida de
                        crianças carentes e suas famílias, fornecendo apoio e assistência essenciais nos momentos mais
                        desafiadores.
                    </p>
                </section>

                <section class="content-wraper" id="nossa-historia">
                    <h2 class="title-leo">Nossa História:</h2>
                    <p class="text-leo">
                        Nossa jornada começou com uma tragédia que deixou uma marca profunda em nossos corações. A perda
                        de Leo foi um evento que poderia ter nos paralisado, mas, em vez disso, nos uniu em um propósito
                        nobre. A dor da perda nos inspirou a transformar essa dor em esperança para outras famílias que
                        enfrentam dificuldades. Leo permanece vivo em nossos corações e em cada ato de bondade que
                        realizamos em seu nome.
                    </p>
                </section>

                <section class="content-wraper" id="nossa-missao">
                    <h2 class="title-leo">Nossa Missão:</h2>
                    <p class="text-leo">
                        <div class="text-wrapper">
                            A missão da Casa do Leo é clara e apaixonante: estamos comprometidos em fornecer apoio
                            abrangente e atencioso a crianças carentes e suas famílias. Nossa missão abraça a ideia de que,
                            juntos, podemos criar um mundo onde todas as crianças tenham igualdade de oportunidades,
                            independentemente de suas circunstâncias. Buscamos atingir esse objetivo através de:
                        </div>
                        <div class="text-wrapper">
                            <span class="negrito">Doações de Alimentos:</span> Fornecemos cestas básicas e alimentos para garantir que nenhuma criança passe fome.
                        </div>
                        <div class="text-wrapper">
                            <span class="negrito">Doações para Bebês:</span> Coletamos e distribuímos itens essenciais para bebês, como fraldas, fórmulas e roupas, para apoiar as famílias necessitadas.
                        </div>
                        <div class="text-wrapper">
                            <span class="negrito">Roupas e Necessidades Básicas:</span> Contribuímos com roupas, calçados e itens essenciais para melhorar a qualidade de vida das crianças e suas famílias.
                        </div>
                        <div class="text-wrapper">
                            <span class="negrito">Educação e Empoderamento:</span> Procuramos empoderar as crianças carentes por meio de programas de educação e desenvolvimento pessoal.
                        </div>
                        <div class="text-wrapper">
                            A Casa do Leo acredita que, ao unir nossos esforços e compartilhar nosso amor, podemos criar um impacto positivo duradouro na vida das crianças menos afortunadas. Nossa missão é impulsionada pelo desejo de honrar a memória de Leo, proporcionando esperança e apoio a outras famílias que enfrentam desafios semelhantes.
                        </div>
                        <div class="text-wrapper">
                            Além desses aspectos, você pode enriquecer seu site com informações sobre suas atividades
                            regulares, histórias de sucesso de crianças beneficiadas, eventos e campanhas de arrecadação de
                            fundos, bem como formas de como as pessoas podem contribuir, seja por meio de doações,
                            voluntariado ou parcerias com empresas locais. Isso ajudará a aumentar a visibilidade e o
                            envolvimento com a Casa do Leo.
                        </div>
                    </p>
                </section>
            </main>

        </section>
    </main>
</div>
{% endblock %}